{% extends "base.html" %}

{% block announce %}
{% if config.theme.language == 'de' %}
  <!-- <center><h4>Alle Befehle sind gemäß der Syntax des <a style="color:#6390e5;" href="https://docs.docker.com/compose/install/linux/">Docker Compose Plugin</a> und der <a style="color:#6390e5;" href="https://docs.docker.com/compose/install/other/">Standalone Variante</a> anwählbar.<br></h4></center> -->
  <center><h4 style="color:red">ACHTUNG! ACHTUNG!! ACHTUNG!!!</h4><h4>Wichtige Änderung für alle, die IPv6 deaktiviert haben und Docker Version >=25 nutzen! <a style="color:#6390e5;" href="https://docs.mailcow.email/de/post_installation/firststeps-disable_ipv6/">Lese die aktualisiere Anleitung hier!</a></h4></center>
{% elif config.theme.language == 'en' %}
  <!-- <center><h4>All Commands are available according to the <a style="color:#6390e5;" href="https://docs.docker.com/compose/install/linux/">Docker Compose Plugin</a> and the <a style="color:#6390e5;" href="https://docs.docker.com/compose/install/other/">Standalone Version</a> syntax</h4></center> -->
  <center><h4 style="color:red">ATTENTION! ATTENTION!! ATTENTION!!!</h4><h4>Important change for all those who have deactivated IPv6 and using Docker version >=25! <a style="color:#6390e5;" href="https://docs.mailcow.email/post_installation/firststeps-disable_ipv6/">Read the updated instructions here!</a></h4></center>
{% else %}
  <!-- <center><h4>All Commands are available according to the <a style="color:#6390e5;" href="https://docs.docker.com/compose/install/linux/">Docker Compose Plugin</a> and the <a style="color:#6390e5;" href="https://docs.docker.com/compose/install/other/">Standalone Version</a> syntax</h4></center> -->
  <center><h4 style="color:red">ATTENTION! ATTENTION!! ATTENTION!!!</h4><h4>Important change for all those who have deactivated IPv6 and using Docker version >=25! <a style="color:#6390e5;" href="https://docs.mailcow.email/post_installation/firststeps-disable_ipv6/">Read the updated instructions here!</a></h4></center>
{% endif %}
{% endblock %}